.userContainer {
  border: 1px solid black;
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.userContainer label {
  float: left;
  margin-left: 12px;
  color: rgb(163, 156, 156);
}

.Email,
.Password {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  width: 95%;
  margin: 10px;
}

.loginbtn {
  margin-top: 15px;
  padding: 10px 70px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(200, 166, 231);
  color: white;
}

.or {
  font-size: 1.2rem;
  margin: 15px;
}

.redirect {
  text-decoration: none;
  font-size: 1.2rem;
}

.Error {
  color: red;
}
